.footer {
  background: #ee3a1f;
  padding: 3rem 1rem 0 1rem;
  height: 10rem;
  text-align: center;
  color: #52170b;
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer p {
  margin-top: 1rem;
}
